<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="zipsa.dao.ZipsaMemberDAO">
	<!-- 짝꿍 DAO가 누구인지 -->

	<!-- 회원가입 -->
	<insert id="join" parameterType="zipsa.entity.T_MEMBER">
		insert into T_MEMBER
		(M_ID,M_PW,M_NAME,M_PHONE,M_TYPE )
	values(#{ID},
		#{PW},
		#{NAME},
		#{PHONE},
		,"M"
		)
	</insert>

	<!-- 로그인 기능 -->
	<select id="login" parameterType="zipsa.entity.T_MEMBER"
		resultType="zipsa.entity.T_MEMBER">
		select * from T_MEMBER where M_id=#{id} and M_pw=#{pw}
	</select>

	<!-- 회원정보 수정기능 -->
	<update id="update" parameterType="zipsa.entity.T_MEMBER">
		update T_MEMBER SET
		M_pw=#{pw}, M_PHONE=#{PHONE}
		where M_id=#{id}
	}
	</update>

	<!-- 관리자의 회원관리창 -->
	<select id="selectMember" parameterType="zipsa.entity.T_MEMBER"
		resultType="zipsa.entity.T_MEMBER">
		select * from T_MEMBER
		where not M_id = 'admin'
	</select>

	<!-- 관리자가 보는 예약현황창 -->
	<select id="selectAllR" resultType="zipsa.entity.T_RESERVATION">
		select * from T_RESERVATION
	</select>

	<!-- 내 예약현황 확인 -->
	<select id="selectRv" parameterType="zipsa.entity.T_MEMBER"
		resultType="zipsa.entity.T_RESERVATION">
		SELECT * FROM T_RESERVATION
		WHERE M_id=#{id} and M_pw=#{pw}
	</select>

	<!-- 회원 탈퇴기능 -->
	<delete id="delete" parameterType="zipsa.entity.T_MEMBER">
		delete from T_MEMBER
		where M_id=#{id}
	</delete>

	<!-- id중복확인, 회원의 내정보 확인 -->
	<select id="check" parameterType="zipsa.entity.T_MEMBER"
		resultType="zipsa.entity.T_MEMBER">
		SELECT M_PW,M_NAME,M_PHONE,M_ADDR FROM T_MEMBER
		WHERE M_id=#{id}
	</select>

	
<!-- 예약하기 -->
	<insert id="reserv" parameterType="zipsa.entity.T_RESERVATION">
	insert into T_RESERVATION (
	M_IDA,JOB_T,REV_DT,STAFF_SEQ,REV_NOTE,M_ADDR)
	values(#{id}, #{job_t}, #{rev_dt},#{pET_YN},#{sTAFF_SEQ},#{rEV_NOTE},#{addr}
		)
	</insert>
	
<!--  직원 랜덤 배정  날짜사이 - 있을경우 자를 글자 10 없을경우 8-->
<select id ="RandomStaff" resultType = "zipsa.entity.T_RESERVATION" >
SELECT D.STAFF_SEQ FROM ( 
        SELECT *
        FROM T_HOLIDAY A
        where A.HOLI_DT !=SUBSTR(#{rev_DT},1,8) ) C,
       (SELECT *
        FROM T_RESERVATION B
        where B.REV_DT != {rev_DT}	) D
        WHERE ROWNUM <= 1
        order by DBMS_RANDOM.RANDOM;
</select>




</mapper>