@charset "UTF-8";
/* loginbox */
.loginBox {
	text-align: center;
}

.msg {
	color: black;
	text-align: center;
	font-weight: 700;
}

.loginBtn {
	padding: 16px;
	margin-left: 50px;
	margin-top: 10px;
	text-align: center;
	font-weight: 700;
	color: white;
	width: 200px;
	height: 50px;
	background-color: rgba(0, 128, 255, 0.8);
	border-radius: 3px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}
.logoutButton {
	padding: 16px;
	margin-left: 50px;
	margin-top: 10px;
	text-align: center;
	font-weight: 700;
	color: white;
	width: 200px;
	height: 50px;
	background-color: rgba(0, 128, 255, 0.8);
	border-radius: 3px;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.joinBtn {
	float: right;
	font-size: 14px;
	color: #404040;
	text-decoration: none;
	font-weight: 700;
	margin-top: 10px;
}

.colBox {
	text-align: center;
}
/* 수정 */
.row {
	text-align: center;
}